<!DOCTYPE html>
<html>
<head>
  <title>CircleMe OAuth 2 Client Example (Sinatra)</title>
</head>
<body>
  <div>
    <div>
      <div>
        <a href="/">Sinatra Client</a>
      </div>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
